.DS_Store

__application/cache/*
!__application/cache/index.html

__application/logs/*
!__application/logs/index.html

!__application/*/.htaccess

__tmp/*
__application/views/backend/*/_cache/*
__application/views/frontend/*/_cache/*

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
